body *{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
}

article .icono{
    width: 100%;
}


footer i{
    color: white;
}